# 빌드 및 개발 관련 디렉토리
include/

# Checkpoint and training data folders
src/act/checkpoint/
src/act/data/
src/act/custom/teleop

# Test Code
src/act/custom/test_custom_robot_utils.py

# 파이썬 캐시 및 임시파일
__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/
**/*.pyc

# VSCode 설정 파일
.vscode/

# 로그, 결과파일, 영상 등
*.log
*.mp4
*.pkl
*.txt
*.csv
